
.boton-contenedor{
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b1b32;
    color: white;
    border-radius: 25px;
    border: 2px solid #fff;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.boton-contenedor:hover{
  background-color: rgb(66, 229, 66);
  color: #000;
}

.operador{
  background-color: #39915b;
}

.operador:hover{
  background-color: #f6ce30;
}

